ul {
  list-style: none;
  border-bottom: 1px solid #e8e9ec;

  display: flex;

  li {
    margin-right: 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01px;
    cursor: pointer;
    position: relative;

    display: flex;

    a {
      text-decoration: none;
      color: #a6aab4;
      padding: 9px 15px;
    }

    &.active {
      a {
        color: #3b414b;
      }

      a::after {
        content: '';
        width: 100%;
        height: 3px;
        background: #f68500;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(50%);
      }
    }
  }
}
