<div class="cards">
  <app-card
    title="Licitações com maior suspeita"
    [width]="337"
    background="laranja"
  >
    <div class="card--content">
      <div class="card__row">
        <span class="card--id">1</span>
        <span class="card--licita card__span--opacity">321321</span>
        <span>00%</span>
      </div>

      <div class="card__row">
        <span class="card--id">2</span>
        <span class="card--licita card__span--opacity">321321</span>
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">3</span>
        <span class="card--licita card__span--opacity">321321</span>
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">4</span>
        <span class="card--licita card__span--opacity">321321</span>
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">5</span>
        <span class="card--licita card__span--opacity">321321</span>
        <span>00%</span>
      </div>
    </div>
    <a class="card--mais">VER MAIS</a>
  </app-card>

  <app-card title="Empresas com maior suspeita" [width]="337" background="rosa">
    <div class="card--content">
      <div class="card__row">
        <span class="card--id">1</span>
        <span class="card--emp card__span--opacity">70.163.605/0001-89</span>
        <span>00%</span>
      </div>

      <div class="card__row">
        <span class="card--id">2</span>
        <span class="card--emp card__span--opacity">70.163.605/0001-89</span>
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">3</span>
        <span class="card--emp card__span--opacity">70.163.605/0001-89</span>
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">4</span>
        <span class="card--emp card__span--opacity">70.163.605/0001-89</span>
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">5</span>
        <span class="card--emp card__span--opacity">70.163.605/0001-89</span>
        <span>00%</span>
      </div>
    </div>
    <a class="card--mais">VER MAIS</a>
  </app-card>
</div>

<div class="cards">
  <app-card
    title="Atividades com maior ocorrência"
    [width]="337"
    background="azul"
  >
    <div class="card--content">
      <div class="card__row">
        <span class="card--id">1</span>
        <span class="card--licita card__span--opacity">Construção</span>
        <span>00%</span>
      </div>

      <div class="card__row">
        <span class="card--id">2</span>
        <span class="card--licita card__span--opacity">Alimentação</span>
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">3</span>
        <span class="card--licita card__span--opacity">Limpeza</span>
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">4</span>
        <span class="card--licita card__span--opacity">Informática</span>
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">5</span>
        <span class="card--licita card__span--opacity">Jardinagem</span>
        <span>00%</span>
      </div>
    </div>
    <a class="card--mais">VER MAIS</a>
  </app-card>

  <app-card title="Contratos ativos suspeito" [width]="337" background="verde">
    <div class="card--content">
      <div class="card__row">
        <span class="card--id">1</span>
        <span class="card--licita--ativos card__span--opacity">321321</span>
        <span class="card--licita--valor card__span--opacity"
          >R$ 2.000.000,00</span
        >
        <span>00%</span>
      </div>

      <div class="card__row">
        <span class="card--id">2</span>
        <span class="card--licita--ativos card__span--opacity">321321</span>
        <span class="card--licita--valor card__span--opacity"
          >R$ 1.000.000,00</span
        >
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">3</span>
        <span class="card--licita--ativos card__span--opacity">321321</span>
        <span class="card--licita--valor card__span--opacity"
          >R$ 500.000,00</span
        >
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">4</span>
        <span class="card--licita--ativos card__span--opacity">321321</span>
        <span class="card--licita--valor card__span--opacity"
          >R$ 400.000,00</span
        >
        <span>00%</span>
      </div>
      <div class="card__row">
        <span class="card--id">5</span>
        <span class="card--licita--ativos card__span--opacity">321321</span>
        <span class="card--licita--valor card__span--opacity"
          >R$ 100.000,00</span
        >
        <span>00%</span>
      </div>
    </div>
    <a class="card--mais">VER MAIS</a>
  </app-card>
</div>
