<div style="margin-top:33px;">
  <div class="cards">
    <app-card
      title="Licitações com maior suspeita"
      [width]="337"
      background="laranja"
    >
      <div class="card--content">
        <div class="card__row">
          <span class="card--id">1</span>
          <span class="card--licita card__span--opacity">321321</span>
          <span>100%</span>
        </div>

        <div class="card__row">
          <span class="card--id">2</span>
          <span class="card--licita card__span--opacity">4132523</span>
          <span>89%</span>
        </div>
        <div class="card__row">
          <span class="card--id">3</span>
          <span class="card--licita card__span--opacity">453244</span>
          <span>75%</span>
        </div>
        <div class="card__row">
          <span class="card--id">4</span>
          <span class="card--licita card__span--opacity">654432</span>
          <span>40%</span>
        </div>
        <div class="card__row">
          <span class="card--id">5</span>
          <span class="card--licita card__span--opacity">3215425</span>
          <span>10%</span>
        </div>
      </div>
      <a class="card--mais">VER MAIS</a>
    </app-card>

    <app-card
      title="Empresas com maior suspeita"
      [width]="337"
      background="rosa"
    >
      <div class="card--content">
        <div class="card__row">
          <span class="card--id">1</span>
          <span class="card--emp card__span--opacity">70.163.605/0001-89</span>
          <span>100%</span>
        </div>

        <div class="card__row">
          <span class="card--id">2</span>
          <span class="card--emp card__span--opacity">70.163.605/0001-89</span>
          <span>100%</span>
        </div>
        <div class="card__row">
          <span class="card--id">3</span>
          <span class="card--emp card__span--opacity">70.163.605/0001-89</span>
          <span>68%</span>
        </div>
        <div class="card__row">
          <span class="card--id">4</span>
          <span class="card--emp card__span--opacity">70.163.605/0001-89</span>
          <span>76%</span>
        </div>
        <div class="card__row">
          <span class="card--id">5</span>
          <span class="card--emp card__span--opacity">70.163.605/0001-89</span>
          <span>50%</span>
        </div>
      </div>
      <a class="card--mais">VER MAIS</a>
    </app-card>
  </div>

  <div class="cards">
    <app-card
      title="Atividades com maior ocorrência"
      [width]="337"
      background="azul"
    >
      <div class="card--content">
        <div class="card__row">
          <span class="card--id">1</span>
          <span class="card--licita card__span--opacity">Construção</span>
          <span>60%</span>
        </div>

        <div class="card__row">
          <span class="card--id">2</span>
          <span class="card--licita card__span--opacity">Alimentação</span>
          <span>40%</span>
        </div>
        <div class="card__row">
          <span class="card--id">3</span>
          <span class="card--licita card__span--opacity">Limpeza</span>
          <span>35%</span>
        </div>
        <div class="card__row">
          <span class="card--id">4</span>
          <span class="card--licita card__span--opacity">Informática</span>
          <span>10%</span>
        </div>
        <div class="card__row">
          <span class="card--id">5</span>
          <span class="card--licita card__span--opacity">Jardinagem</span>
          <span>7%</span>
        </div>
      </div>
      <a class="card--mais">VER MAIS</a>
    </app-card>

    <app-card
      title="Contratos ativos suspeito"
      [width]="337"
      background="verde"
    >
      <div class="card--content">
        <div class="card__row">
          <span class="card--id">1</span>
          <span class="card--licita--ativos card__span--opacity">321321</span>
          <span class="card--licita--valor card__span--opacity"
            >R$ 2.000.000,00</span
          >
          <span>100%</span>
        </div>

        <div class="card__row">
          <span class="card--id">2</span>
          <span class="card--licita--ativos card__span--opacity">4132523</span>
          <span class="card--licita--valor card__span--opacity"
            >R$ 1.000.000,00</span
          >
          <span>70%</span>
        </div>
        <div class="card__row">
          <span class="card--id">3</span>
          <span class="card--licita--ativos card__span--opacity">453244</span>
          <span class="card--licita--valor card__span--opacity"
            >R$ 500.000,00</span
          >
          <span>69%</span>
        </div>
        <div class="card__row">
          <span class="card--id">4</span>
          <span class="card--licita--ativos card__span--opacity">654432</span>
          <span class="card--licita--valor card__span--opacity"
            >R$ 400.000,00</span
          >
          <span>40%</span>
        </div>
        <div class="card__row">
          <span class="card--id">5</span>
          <span class="card--licita--ativos card__span--opacity">3215425</span>
          <span class="card--licita--valor card__span--opacity"
            >R$ 100.000,00</span
          >
          <span>10%</span>
        </div>
      </div>
      <a class="card--mais">VER MAIS</a>
    </app-card>
  </div>
</div>
