* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  background-color: #f2f2f2;
}
